/* PostContainer.css */

.post-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.post-container .post {
  width: calc(33.33% - 10px); 
  margin-bottom: 20px; /* Añade espacio entre los posts */
}
